@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::after, *::before, html{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

:root{
  --white:#FFF;
  --bg: rgba(106, 137, 167, 0.5);
  --black:#232323;
  --lite:rgba(255,255,255,0.6);
  --gray:rgba(1,1,1,0.6);
  --dark:#3c3d3c;
  --primary:linear-gradient(145deg,#ff2f09,#c24a4e);
  --primary-background: linear-gradient(60deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 67%);
  --hover:linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 20%, rgba(252, 176, 69, 1) 100%);
  --primary_dark:#970104;
  --primary_lite:#c24a4e;
  --secondary:#000a17;
  --default_font:'Ysabeau Infant', sans-serif;
  --title_font:'Outfit', sans-serif;
}

body {
  background-color: var(--bg);
}

.logo {
  @apply font-orbitron flex gap-3 uppercase text-[1.6rem] leading-[1.2rem] md:text-[1.8rem] md:leading-[1.4rem] lg:text-[2.4rem] lg:leading-[2rem] font-medium;
}

.lg-flex {
  @apply lg:flex lg:justify-between lg:items-center bg-white/40  lg:py-[1.6rem] lg:px-[2.4rem] md:py-[1rem] md:px-[1.4rem] rounded-md backdrop-filter backdrop-blur-lg bg-opacity-40 shadow-xl md:flex md:justify-between md:items-center hidden
}

.homepage {
  @apply max-w-full mx-auto px-[2.4rem] sm:px-[2.4rem] md:px-[4.8rem] lg:px-[7.2rem] py-[4rem] md:py-[6.4rem] lg:py-[11.2rem]
}

.homepage_title {
  @apply text-[4rem] font-Preahvihear
}

.homepage_tag {
  @apply text-[3rem]
}

.homepage_desc {
  @apply text-[2.4rem]
}

.education_title {
  @apply text-[2.4rem] underline
}


nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  height: 1px;
  
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
